* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: flex-start;
}
header .logo {
  margin: 2.14em;
  height: 1.6em;
}

@media (min-width: 900px) {
  header {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 390px 1fr 400px;
    width: 100%;
  }
  header .header-container {
    width: 390px;
    grid-column: 2;
    display: flex;
  }
  header .logo {
    margin: 0;
    margin-top: 2.5em;
    height: 2em;
  }
}
@media (min-width: 1200px) {
  header {
    grid-template-columns: 1fr 390px 1fr 610px;
  }
  header .logo {
    margin-top: 3em;
  }
}
.main-container {
  background-image: linear-gradient(135deg, #ffffff, #fff4f4);
  padding-bottom: 6em;
}
.main-container .main-paragraph {
  color: #d6a7a7;
  font-weight: 400;
  line-height: 1.8;
  padding: 1.5em 2.14em;
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.img-container {
  height: 250px;
  overflow: hidden;
  margin-bottom: 65px;
}
.img-container .main-img {
  width: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #403939;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.3em;
}
h1 span {
  color: #ce9696;
  font-weight: 300;
}

footer {
  padding: 1em;
}

@media (min-width: 600px) {
  .img-container {
    height: 400px;
  }
}
@media (min-width: 900px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 400px;
    padding-bottom: 0;
  }

  h1 {
    min-width: 390px;
  }

  .left-container {
    background: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }
  .left-container .main-paragraph {
    margin: 0;
    padding: 1.5em 0;
  }

  .img-container {
    grid-column: 2;
    margin-bottom: 0;
    height: 100%;
  }
  .img-container .main-img {
    width: inherit;
  }
}
@media (min-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr 610px;
  }

  h1 {
    font-size: 4em;
  }
}
form {
  margin: 0;
  position: relative;
}

.form-container {
  border-radius: 3.6em;
  width: 100%;
  height: 3.6em;
  background: transparent;
  outline: none;
  box-shadow: 0px 0px 0px 1px #d8d3d3 inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  max-width: 390px;
  min-width: 310px;
}

input {
  flex-grow: 1;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  height: 3.6em;
  outline: none;
}
input::placeholder {
  color: #e6caca;
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

button {
  border-radius: 3.6em;
  width: 22%;
  height: 3.6em;
  background: linear-gradient(135deg, #f7bebe, #ed8b8b);
  outline: none;
  box-shadow: 0px 10px 20px 4px rgba(249, 97, 97, 0.15);
  display: flex;
  border: none;
  justify-content: center;
  max-width: 100px;
  min-width: 67px;
}
button:active {
  background: linear-gradient(to right, #fff4f4, #f7bebe);
  box-shadow: 0px 10px 20px 4px rgba(249, 97, 97, 0.3);
}

@media (min-width: 900px) {
  form {
    margin: 0;
  }
  form .form-container {
    margin: 0;
    min-width: 390px;
  }
}
.selected {
  box-shadow: 0px 0px 0px 2px #ce9696 inset;
}

.message {
  color: #d6a7a7;
  text-align: left;
  padding: 0.5em 1.5em;
  position: absolute;
}

.error-message {
  color: #f96161;
  text-align: left;
  padding: 0.5em 1.5em;
  position: absolute;
}

.not-valid {
  box-shadow: 0px 0px 0px 2px #f96161 inset;
}

.icon-error {
  height: 20px;
  position: absolute;
  right: 5.5em;
  top: 2.1em;
}
@media (min-width: 900px) {
  .icon-error {
    right: 7em;
    top: 1.1em;
  }
}

/*# sourceMappingURL=style.css.map */
